<ion-content [fullscreen]="false">

  <br>
<ion-tab-bar></ion-tab-bar>
<ion-col class="ion-text-center" size="5" >
    <ion-title >TODO Lists</ion-title>
  </ion-col>
<ion-row size="5" class="ion-text-center ion-justify-content-center ion-align-items-center">
    <ion-card  *ngFor="let item of todolists" >
      <div style="margin-left: 80%;">
        <ion-button  fill="clear"><ion-icon name="create-outline" color="dark"></ion-icon></ion-button>
         <ion-button  fill="clear" (click)='deleteonClick(item.id)'><ion-icon color="danger" name="trash-outline" ></ion-icon></ion-button>
      </div>
      <ion-item ><strong class="defcolor">ID : </strong> {{item.id }}</ion-item>
        <ion-item ><strong class="defcolor">Titre : </strong> {{item.title}}</ion-item>
        <ion-item ><strong class="defcolor">Description : </strong> {{item.description }}</ion-item>
        <ion-item ><strong class="defcolor">Création : </strong>  {{item.creationDate}}</ion-item>
        <ion-item ><strong class="defcolor">Due Date : </strong>{{item.dueDate}}</ion-item>
    </ion-card>

    <ion-col size="12" class="ion-text-center">
    <ion-button routerLink="/create" color="tertiary">Créer une nouvelle TODO List</ion-button>
    </ion-col>
    </ion-row>
</ion-content>
